@inject NavigationManager NavManager
@inject ISpotify spotify
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject SpotifyDb spotifyDb
@inject NavigationUtils NavUtils

<div class="navbar-container">
    <div class="profile-container">
        <div class="profile-image" @onclick="NavUtils.ClickedMainPage">
            @if (image != null)
            {
                <img src="@image" class="profile-pic" />
            }
            else
            {
                <img src="https://user-images.githubusercontent.com/26250962/42155301-ee1010d6-7ddf-11e8-9915-4fc75f6eab66.png" class="profile-pic" />
            }
        </div>
        <div class="profile-right-container">
            <div class="profile-name">
                @name
                <i class="bi bi-x-square-fill profile-logout-container" @onclick="LogOut" />
            </div>
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" class="spotify-image" />
        </div>
    </div>

    <div class="playlist-container">

        @if (!loadingData)
        {
            @if (@loadedFromCache)
            {
                <div class="playlist-refresh cache"><i class="bi bi-lightning-charge-fill"></i><span>Loaded from memory</span></div>
            }
            else
            {
                
                <div class="playlist-refresh spotify"><i class="bi bi-spotify"></i><span>Synced with Spotify</span></div>
            }

            <div class="playlist" @onclick="NavUtils.ClickedLikedSong">
                <div class="playlist-image-container">
                    <img src="https://i.pinimg.com/originals/07/74/a4/0774a492388967e2b5b6d65b95f3fd1a.png" class="playlist-image" />
                </div>
                <div class="playlist-name">
                    Liked songs
                </div>
            </div>
            

            @foreach (var playlist in playlists)
            {
                <div class="playlist" @onclick="() => NavUtils.NavigateToPlaylist(playlist.Id)">
                    <div class="playlist-image-container">
                        @if (playlist.Images.Count > 0 && playlist.Images[0] != null)
                        {
                            <img src="@playlist.Images[0].Url" class="playlist-image" />
                        }
                        else
                        {
                            <img src="https://user-images.githubusercontent.com/26250962/42155301-ee1010d6-7ddf-11e8-9915-4fc75f6eab66.png" class="playlist-image" />
                        }
                    </div>
                    <div class="playlist-name">
                        @playlist.Name
                    </div>
                </div>
            }

            <button type="button" class="btn btn-primary btn-sm playlist-refresh" @onclick="RefreshPlaylists" disabled="@loadingData">
                <span>Refresh your playlists</span>
            </button>

            <button type="button" class="btn btn-danger btn-sm playlist-refresh" @onclick="DeleteData" disabled="@loadingData">
                <span>Delete all local data</span>
            </button>
        }
        else
        {
            <div>Loading...</div>

        }
    </div>

    <div class="player-container">
        @if (currentlyPlaying != null && currentlyPlaying.Item != null && currentlyPlaying.Item.Type == ItemType.Track && currentDevice != null)
        {
            FullTrack track = (FullTrack)currentlyPlaying.Item;
            int progress = currentlyPlaying.ProgressMs ?? 0;
            int precent = (int)(((double)progress / (double)track.DurationMs) * 100);


            long secondsProgress = progress / 1000;
            long minutesProgress = secondsProgress / 60;

            long secondsDur = track.DurationMs / 1000;
            long minutesDur = secondsDur / 60;

            <div class="player-upper-bar">
                <div class="player-info-container">
                    <div class="player-volume-container">
                        <div class="timestamp-min">@($"{@currentDevice.VolumePercent}%")</div>
                        <input type="range" min="0" max="100"
                           class="slider"
                           value="@currentDevice.VolumePercent"
                           @onchange="@(async (ChangeEventArgs __e) =>
                            {

                                PlayerVolumeRequest pvr = new PlayerVolumeRequest(Convert.ToInt32(__e.Value));

                                await spotifyClient.Player.SetVolume(pvr);
                                volumeSliderFocus = false;

                                StartTimerAsync(false);
                            })"
                           @oninput="@(() => { volumeSliderFocus = true; })"
                           id="volumeSlider">
                    </div>

                    <div class="player-controls-container">
                        <div class="skip-backward-cnt"
                         @onmouseenter="@(() => onPrev = true)"
                         @onmouseleave="@(() => onPrev = false)">

                            @if (onPrev)
                            {
                                <i class="bi bi-skip-backward-fill" @onclick="@(() => { spotifyClient.Player.SkipPrevious(); StartTimerAsync(false); })"></i>
                            }
                            else
                            {
                                <i class="bi bi-skip-backward" @onclick="@(() => { spotifyClient.Player.SkipPrevious(); StartTimerAsync(false); })"></i>
                            }
                        </div>
                        <div class="play-cnt"
                         @onmouseenter="@(() => onPlay = true)"
                         @onmouseleave="@(() => onPlay = false)">

                            @if (currentlyPlaying.IsPlaying)
                            {
                                @if (onPlay)
                                {
                                    <i class="bi bi-pause-circle-fill" @onclick="@(() => { spotifyClient.Player.PausePlayback(); StartTimerAsync(false); })"></i>
                                }
                                else
                                {
                                    <i class="bi bi-disc-fill" @onclick="@(() => { spotifyClient.Player.PausePlayback(); StartTimerAsync(false); })"></i>
                                }
                            }
                            else
                            {
                                @if (onPlay)
                                {
                                    <i class="bi bi-play-fill" @onclick="@(() => { spotifyClient.Player.ResumePlayback(); StartTimerAsync(false); })"></i>
                                }
                                else
                                {
                                    <i class="bi bi-play" @onclick="@(() => { spotifyClient.Player.ResumePlayback(); StartTimerAsync(false); })"></i>
                                }

                            }
                        </div>
                        <div class="skip-forward-cnt"
                         @onmouseenter="@(() => onNext = true)"
                         @onmouseleave="@(() => onNext = false)">

                            @if (onNext)
                            {
                                <i class="bi bi-skip-forward-fill" @onclick="@(() => { spotifyClient.Player.SkipNext(); StartTimerAsync(false); })"></i>
                            }
                            else
                            {
                                <i class="bi bi-skip-forward" @onclick="@(() => { spotifyClient.Player.SkipNext(); StartTimerAsync(false); })"></i>
                            }
                        </div>
                    </div>

                </div>
                <div class="player-image-container">
                    <div class="like" @onclick="@ClickedOnLike">
                        @if (liked)
                        {
                            <i class="bi bi-heart-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-heart"></i>
                        }
                    </div>
                    @if (track.Album.Images.FirstOrDefault() != null)
                    {
                        <img src="@track.Album.Images.FirstOrDefault().Url" class="player-image" />
                    }
                    else
                    {
                        <img src="https://www.lollok.hu/wp-content/uploads/2019/11/placeholder.png" class="player-image" />
                    }
                </div>
            </div>

            <div class="player-song-info-container">

                <div class="player-song-name">
                    @if (track.Explicit)
                    {
                        <i class="bi bi-explicit-fill"></i>
                    }
                    @track.Name
                </div>
                <div class="player-song-artist">
                    @for (int i = 0; i < @track.Artists.Count; i++)
                    {
                        SimpleArtist artist = @track.Artists.ElementAt(i);
                        <span class="artist-name-link" @onclick="@(() => NavUtils.ClickedOnArtist(artist.Id))">@artist.Name</span>
                        if (i + 1 < @track.Artists.Count)
                        {
                            <span class="comma">, </span>
                        }
                    }
                </div>
            </div>

            <div class="player-track-progress-container">
                <div class="track-progress-slider">
                    <div class="timestamp-min">@($"{minutesProgress}:{(secondsProgress % 60):D2}")</div>
                    <input type="range" min="0" max="100"
                       @onchange="@(async (ChangeEventArgs __e) =>
                                    {
                                        PlayerSeekToRequest pstr = new PlayerSeekToRequest((long)((Convert.ToDouble(__e.Value) / 100.0) * track.DurationMs));

                                        await spotifyClient.Player.SeekTo(pstr);
                                        seekSliderFocus = false;
                                        StartTimerAsync(false);
                                    })"
                       @oninput="@(() => { seekSliderFocus = true; })"
                       value="@precent"
                       class="slider" id="trackSlider">
                    <div class="timestamp-max">@($"{minutesDur}:{(secondsDur % 60):D2}")</div>
                </div>
            </div>

            <div class="player-active-device">
                @foreach (var device in devices)
                {
                    @if (device.Name != null)
                    {
                        @if (device.IsActive)
                        {
                            <div class="device-name active"><i class="bi bi-volume-up-fill"></i> @device.Name</div>
                        }
                        else
                        {
                            <div class="device-name" @onclick="@(() => @DeviceChange(@device.Name))"><i class="bi bi-volume-mute"></i> @device.Name</div>
                        }
                    }
                }
            </div>
        }
        else
        {
            <div>Start playing something on one of your devices</div>
        }

    </div>
</div>



@code {
    string name = "loading...";
    string image = "https://user-images.githubusercontent.com/26250962/42155301-ee1010d6-7ddf-11e8-9915-4fc75f6eab66.png";
    SpotifyClient spotifyClient = null;

    bool onPrev = false;
    bool onPlay = false;
    bool onPause = false;
    bool onNext = false;
    bool loadedFromCache = true;
    bool liked = false;
    bool likedRefresh = false;

    bool seekSliderFocus = false;
    bool volumeSliderFocus = false;

    Device currentDevice = null;

    bool loadingData = true;
    PrivateUser user;

    List<Device> devices = new List<Device>();
    CurrentlyPlaying currentlyPlaying = null;

    List<SimplePlaylist> playlists = new List<SimplePlaylist>();

    protected override async Task OnInitializedAsync()
    {
        if (localStorage.GetItem<string>("verifier") is not null) { return; }
        var result = await spotify.Init();
        if (!result.Success)
        {
            NavManager.NavigateTo(result.RedirectURL);
            return;
        }
        spotifyClient = result.SpotifyObject;

        user = (await spotifyClient.UserProfile.Current());
        name = user.DisplayName;
        image = user.Images.FirstOrDefault().Url;

        devices = (await spotifyClient.Player.GetAvailableDevices()).Devices;
        currentDevice = devices.Find(d => d.IsActive);

        PlayerCurrentlyPlayingRequest pcpr = new PlayerCurrentlyPlayingRequest();
        currentlyPlaying = (await spotifyClient.Player.GetCurrentlyPlaying(pcpr));

        if (currentlyPlaying != null)
        {
            List<string> ids = new List<string>();
            ids.Add(((FullTrack)currentlyPlaying.Item).Id);

            LibraryCheckTracksRequest lctr = new LibraryCheckTracksRequest(ids);
            liked = (await spotifyClient.Library.CheckTracks(lctr)).FirstOrDefault(false);
        }

        await spotifyDb.Open();

        if ((playlists = (await spotifyDb.SavedPlaylists.GetAll<SimplePlaylist>()).OrderBy(playlist => playlist.Name).ToList()).Count() == 0)
        {
            FetchPlaylists();
        }
        else
        {
            loadedFromCache = true;
            loadingData = false;
        }
        StartTimerAsync(true);
    }

    private void LogOut()
    {
        localStorage.RemoveItem("PKCE");
        NavManager.NavigateTo("/", forceLoad: true);
    }

    private void RefreshPlaylists()
    {
        FetchPlaylists();
    }


    public async void DeviceChange(string selectedString)
    {
        List<string> deviceList = new List<string>();
        string selectedDevice = devices.Find(d => d.Name.Equals(selectedString)).Id;
        deviceList.Add(selectedDevice);
        PlayerTransferPlaybackRequest ptpq = new PlayerTransferPlaybackRequest(deviceList);
        await spotifyClient.Player.TransferPlayback(ptpq);

        StartTimerAsync(false);
    }

    private async void FetchPlaylists()
    {
        loadingData = true;

        StateHasChanged();
        await spotifyDb.SavedPlaylists.ClearStore();

        Paging<SimplePlaylist> nextPaging = new Paging<SimplePlaylist>();

        PlaylistCurrentUsersRequest pcur = new PlaylistCurrentUsersRequest();
        pcur.Limit = 50;
        int offsetOffset = 0;

        while ((nextPaging = (await spotifyClient.Playlists.CurrentUsers(pcur))).Items.Count() != 0)
        {
            nextPaging.Items.ForEach(async (savedPlaylist) => { await spotifyDb.SavedPlaylists.Add(savedPlaylist); });

            offsetOffset++;
            pcur.Offset = offsetOffset * 50;
        }

        playlists = (await spotifyDb.SavedPlaylists.GetAll<SimplePlaylist>()).OrderBy(playlist => playlist.Name).ToList();

        loadingData = false;

        loadedFromCache = false;
        StateHasChanged();
    }

    private async void ClickedOnLike()
    {
        List<string> ids = new List<string>();
        ids.Add(((FullTrack)currentlyPlaying.Item).Id);
        if (liked)
        {

            LibraryRemoveTracksRequest lstr = new LibraryRemoveTracksRequest(ids);
            await spotifyClient.Library.RemoveTracks(lstr);
            likedRefresh = true;
        }
        else
        {
            LibrarySaveTracksRequest lstr = new LibrarySaveTracksRequest(ids);
            await spotifyClient.Library.SaveTracks(lstr);
            likedRefresh = true;
        }

    }

    private async void DeleteData()
    {
        await spotifyDb.DeleteDatabase();
        FetchPlaylists();
    }


    public async void StartTimerAsync(bool keepAlive)
    {
        bool alive = true;
        while (alive)
        {
            if (!volumeSliderFocus)
            {
                devices = (await spotifyClient.Player.GetAvailableDevices()).Devices;
                currentDevice = devices.Find(d => d.IsActive);
            }
            if (!seekSliderFocus)
            {
                PlayerCurrentlyPlayingRequest pcpr = new PlayerCurrentlyPlayingRequest();
                CurrentlyPlaying currentlyPlayingNow = (await spotifyClient.Player.GetCurrentlyPlaying(pcpr));

                if (currentlyPlaying == null || likedRefresh || ((FullTrack)currentlyPlaying.Item).Id != ((FullTrack)currentlyPlayingNow.Item).Id)
                {
                    likedRefresh = false;
                    if (currentlyPlayingNow != null)
                    {

                        currentlyPlaying = currentlyPlayingNow;
                        List<string> ids = new List<string>();
                        ids.Add(((FullTrack)currentlyPlayingNow.Item).Id);

                        LibraryCheckTracksRequest lctr = new LibraryCheckTracksRequest(ids);
                        liked = (await spotifyClient.Library.CheckTracks(lctr)).FirstOrDefault(false);
                    }
                }
                else
                {
                    currentlyPlaying = currentlyPlayingNow;
                }


            }

            var result = await spotify.Init(true);
            if (!result.Success)
            {
                NavManager.NavigateTo(result.RedirectURL);
                return;
            }
            if (result.SpotifyObject != null)
            {
                spotifyClient = result.SpotifyObject;
            }

            StateHasChanged();
            await Task.Delay(1000);

            alive = keepAlive;
        }
    }

}
