@inject NavigationManager NavManager
@inject ISpotify spotify
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage


<div class="navbar-container">
    <div class="profile-name">@name</div>
    <img src="@image" class="profile-pic" />
    <div class="liked-songs" @onclick="ClickedLikedSong">Liked songs</div>

    <div class="now-playing-container">
        @foreach (var device in devices)
        {
            <div>
                @if (device.Name != null && device.VolumePercent != null && device.IsActive)
                {
                    <div>Playing on: @device.Name</div>
                    <input type="range" min="0" max="100"
                           class="slider"
                           value="@device.VolumePercent"
                           @onchange="@(async (ChangeEventArgs __e) =>
                                        {

        PlayerVolumeRequest pvr = new PlayerVolumeRequest(Convert.ToInt32(__e.Value));

        await spotifyClient.Player.SetVolume(pvr);
        volumeSliderFocus = false;
                                        })"
                           @oninput="@(() => { volumeSliderFocus = true; })"
                           id="volumeSlider">
                }
            </div>
        }

        @if (currentlyPlaying != null)
        {
            if (currentlyPlaying.IsPlaying)
            {
                <div>PLAYING</div>
                <button type="button" @onclick="@(() => { spotifyClient.Player.PausePlayback(); })" class="play-button">||</button>
            }
            else
            {
                <div>STOPPED</div>
                <button type="button" @onclick="@(() => { spotifyClient.Player.ResumePlayback(); })" class="play-button">></button>
            }

            if (currentlyPlaying.Item.Type == ItemType.Track)
            {
                FullTrack track = (FullTrack)currentlyPlaying.Item;
                int progress = currentlyPlaying.ProgressMs ?? 0;
                int precent = (int)(((double)progress / (double)track.DurationMs) * 100);

                @if (track.Album.Images.FirstOrDefault() != null)
                {
                    <img src="@track.Album.Images.FirstOrDefault().Url" alt="hey" width="200" height="200" />
                }
                else
                {
                    <img src="https://www.lollok.hu/wp-content/uploads/2019/11/placeholder.png" alt="hey" width="200" height="200" />
                }

                <div>
                    @track.Name
                </div>
                <input type="range" min="0" max="100"
                       @onchange="@(async (ChangeEventArgs __e) =>
                                        {
                                            PlayerSeekToRequest pstr = new PlayerSeekToRequest((long)((Convert.ToDouble(__e.Value) / 100.0) * track.DurationMs));

                                            await spotifyClient.Player.SeekTo(pstr);
                                            seekSliderFocus = false;
                                        })"
                       @oninput="@(() => { seekSliderFocus = true; })"
                       value="@precent"
                       class="slider" id="trackSlider">
            }
        }
    </div>



</div>



@code {
    string name = "loading...";
    string image = "https://www.lollok.hu/wp-content/uploads/2019/11/placeholder.png";
    SpotifyClient spotifyClient = null;

    bool seekSliderFocus = false;
    bool volumeSliderFocus = false;

    List<Device> devices = new List<Device>();
    CurrentlyPlaying currentlyPlaying = null;

    List<SimplePlaylist> albums = new List<SimplePlaylist>();

    protected override async Task OnInitializedAsync()
    {
        if (localStorage.GetItem<string>("verifier") is not null) { return; }
        var result = await spotify.Init();
        if (!result.Success)
        {
            NavManager.NavigateTo(result.RedirectURL);
            return;
        }
        spotifyClient = result.SpotifyObject;

        var user = (await spotifyClient.UserProfile.Current());
        name = user.DisplayName;
        image = user.Images.FirstOrDefault().Url;

        devices = (await spotifyClient.Player.GetAvailableDevices()).Devices;
        PlayerCurrentlyPlayingRequest pcpr = new PlayerCurrentlyPlayingRequest();
        currentlyPlaying = (await spotifyClient.Player.GetCurrentlyPlaying(pcpr));


        StartTimerAsync();
    }

    public void ClickedLikedSong()
    {
        NavManager.NavigateTo("/saved");
    }


    public async void StartTimerAsync()
    {
        while (true)
        {
            if (!volumeSliderFocus)
            {
                devices = (await spotifyClient.Player.GetAvailableDevices()).Devices;
            }
            if (!seekSliderFocus)
            {
                PlayerCurrentlyPlayingRequest pcpr = new PlayerCurrentlyPlayingRequest();
                currentlyPlaying = (await spotifyClient.Player.GetCurrentlyPlaying(pcpr));
            }
            StateHasChanged();
            await Task.Delay(1000);
        }
    }

}
