@page "/album"
@using Newtonsoft.Json
@using System.Globalization
@inject NavigationManager NavManager
@inject ISpotify spotify
@implements IDisposable
@inject SpotifyDb spotifyDb


@if (!loadingData)
{
    <div class="info-container">
        <div class="left-side">
            @if (album.Images[0] != null)
            {
                <img src="@album.Images[0].Url" class="playlist-picture" />
            }
            else
            {
                <img src="https://user-images.githubusercontent.com/26250962/42155301-ee1010d6-7ddf-11e8-9915-4fc75f6eab66.png" class="playlist-picture" />
            }
        </div>
        <div class="right-side">
            <div class="label">@album.Label</div>
            <div class="playlist-title">
                <div class="actual-play">@album.Name</div>
                <div class="play-album"
                 @onmouseenter="@(() => onPlay = true)"
                 @onmouseleave="@(() => onPlay = false)">

                    @if (onPlay)
                    {
                        <i class="bi bi-play-fill" @onclick="@(ClickedAlbumPlay)"></i>
                    }
                    else
                    {
                        <i class="bi bi-play" @onclick="@(ClickedAlbumPlay)"></i>
                    }
                </div>
            </div>
            <div class="playlist-description"><i class="bi bi-list-ol"></i>@album.TotalTracks</div>
            <div class="playlist-description"><i class="bi bi-graph-up-arrow"></i>@album.Popularity / 100 popularity</div>
            <div class="playlist-description"><i class="bi bi-calendar-event-fill"></i>@album.ReleaseDate</div>
        </div>
    </div>
}

@if (!loadingData)
{
    var Tool = (new List<string>() { "Search" });

    <div class="col-lg-12 control-section">
        <div class="row">
            <SfGrid DataSource="@GridData"
                AllowPaging="true"
                AllowReordering="true"
                AllowSorting="true"
                AllowSelection="true"
                Toolbar=@Tool>
                <GridPageSettings PageSize="10" />
                <GridColumns>
                    <GridColumn HeaderText="" AutoFit="true">
                        <Template>
                            @{
                            var trackInfo = (context as FullTrack);

                            <div class="play-button-inline" @onclick="@(() => ClickedPlay(trackInfo.Uri))">
                                <i class="bi bi-play-fill"></i>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="TrackNumber" HeaderText="#" AutoFit="true" />
                <GridColumn Field="Name" HeaderText="Title" />
                <GridColumn HeaderText="Artists">
                    <Template>
                        @{
                            var trackInfo = (context as FullTrack);

                            foreach (var artist in trackInfo.Artists)
                            {
                                <span class="artist-name-link" @onclick="@(() => ClickedOnArtist(artist.Id))">@artist.Name</span>
                            }
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field="Popularity" HeaderText="Popularity" />
                <GridColumn Field="DurationMs" HeaderText="Length">
                    <Template>
                        @{
                            var trackInfo = (context as FullTrack);
                            long secondsDur = trackInfo.DurationMs / 1000;
                            long minutesDur = secondsDur / 60;
                            <span>@($"{minutesDur}:{(secondsDur % 60):D2}")</span>
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field="Explicit" HeaderText="Explicit">
                    <Template>
                        @{
                            var trackInfo = (context as FullTrack);

                            if (trackInfo.Explicit)
                            {
                                <i class="bi bi-explicit-fill"></i>
                            }
                        }

                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

}

@if (loadingData)
{
    <div class="progress">
        <div class="progress-bar" role="progressbar" style=@($"width: {loadingPercentage}%") aria-valuenow=@(loadingPercentage) aria-valuemin="0" aria-valuemax="100"></div>
    </div>
}

<div class="refresh-button">
    <button type="button" class="btn btn-primary btn-sm" disabled="@loadingData">
        <span>Refresh your songs</span>
        @if (loadingData)
        {
            <span class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        }
    </button>
</div>


@code {
    SpotifyClient spotifyClient = null;

    FullAlbum album = null;

    List<FullTrack> tracks = new List<FullTrack>();

    float loadingPercentage = 0;

    bool onPlay = false;

    string searchPhrase = "";
    bool loadingData = true;
    int offset = 0;
    public IEnumerable<FullTrack> GridData { get; set; }

    private void UpdateQuery(object sender, LocationChangedEventArgs e)
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("albumId", out var _searchPhrase))
        {
            searchPhrase = _searchPhrase;
            SpotifyAlbumLoad();
        }
    }

    public void ClickedOnArtist(string id)
    {
        NavManager.NavigateTo($"/artist?a={id}");
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await spotify.Init();
        if (!result.Success)
        {
            NavManager.NavigateTo(result.RedirectURL);
        }
        spotifyClient = result.SpotifyObject;

        UpdateQuery(null, null);

        NavManager.LocationChanged += UpdateQuery;
    }

    private void TenMore()
    {
        offset++;
        SpotifyAlbumLoad(false);
    }

    private T ConvertObject<T>(object M) where T : class
    {
        // Serialize the original object to json
        // Desarialize the json object to the new type
        var obj = JsonConvert.DeserializeObject<T>(JsonConvert.SerializeObject(M));
        return obj;
    }

    private async void SpotifyAlbumLoad(bool reset = true)
    {
        loadingData = true;
        StateHasChanged();

        album = (await spotifyClient.Albums.Get(searchPhrase));

        Paging<SimpleTrack> nextPaging = new Paging<SimpleTrack>();

        AlbumTracksRequest atr = new AlbumTracksRequest();
        atr.Limit = 10;
        int offsetOffset = 0;

        while ((nextPaging = await spotifyClient.Albums.GetTracks(searchPhrase, atr)).Items.Count() != 0)
        {
            nextPaging.Items.ForEach(async simpleTrack =>
            {
                tracks.Add(await spotifyClient.Tracks.Get(simpleTrack.Id));
            });

            loadingPercentage = (((offsetOffset) * 10 + nextPaging.Items.Count()) / (float)nextPaging.Total * 100);

            offsetOffset++;
            atr.Offset = offsetOffset * 10;

            StateHasChanged();
        }

        GridData = tracks;

        loadingData = false;
        loadingPercentage = 0;

        StateHasChanged();
    }

    private async void ClickedPlay(string songUri)
    {
        List<string> trackList = new List<string>();
        trackList.Add(songUri);
        var track = new PlayerResumePlaybackRequest();
        track.Uris = trackList;
        await spotifyClient.Player.ResumePlayback(track);
    }

    private async void ClickedAlbumPlay()
    {
            PlayerResumePlaybackRequest alb = new PlayerResumePlaybackRequest();
            alb.ContextUri = album.Uri;
            await spotifyClient.Player.ResumePlayback(alb);
    }
    
    void IDisposable.Dispose() => NavManager.LocationChanged -= UpdateQuery;
}