@page "/playlist"
@using Newtonsoft.Json
@inject NavigationManager NavManager
@inject ISpotify spotify
@implements IDisposable
@inject SpotifyDb spotifyDb
@inject NavigationUtils NavUtils
@inject PlayUtils PlayUtils


@if (!loadingData)
{
    <div class="info-container">
        <div class="left-side">
            @if (fullPlaylist.Images[0] != null)
            {
                <img src="@fullPlaylist.Images[0].Url" class="playlist-picture" />
            }
            else
            {
                <img src="https://user-images.githubusercontent.com/26250962/42155301-ee1010d6-7ddf-11e8-9915-4fc75f6eab66.png" class="playlist-picture" />
            }
        </div>
        <div class="right-side">
            <div class="playlist-title">
                <div class="actual-play">@fullPlaylist.Name</div>
                <div class="play-album"
                 @onmouseenter="@(() => onPlay = true)"
                 @onmouseleave="@(() => onPlay = false)">

                    @if (onPlay)
                    {
                        <i class="bi bi-play-fill" @onclick="@(() => PlayUtils.ClickedAlbumPlay(fullPlaylist.Uri, spotifyClient))"></i>
                    }
                    else
                    {
                        <i class="bi bi-play" @onclick="@(() => PlayUtils.ClickedAlbumPlay(fullPlaylist.Uri, spotifyClient))"></i>
                    }
                </div>
            </div>
            @if (@fullPlaylist.Description != null)
            {
                <div class="playlist-description">@fullPlaylist.Description</div>
            }
            @if (@loadedFromCache)
            {
                <div class="playlist-refresh cache"><i class="bi bi-lightning-charge-fill"></i><span>Loaded from memory</span></div>
            }
            else
            {
                
                <div class="playlist-refresh spotify"><i class="bi bi-spotify"></i><span>Synced with Spotify</span></div>
            }
        </div>
    </div>
}

<div class="col-lg-12 control-section">
    @if (!loadingData)
    {
        <div class="row">
            <SfGrid DataSource="@GridData"
                AllowPaging="true"
                AllowReordering="true"
                AllowSorting="true"
                AllowSelection="true">
                <GridPageSettings PageSize="10" />
                <GridColumns>
                    <GridColumn HeaderText="" AutoFit="true">
                        <Template>
                            @{
                            var trackInfo = (context as PlaylistTrack<FullTrack>);

                            <div class="play-button-inline" @onclick="@(() => PlayUtils.ClickedPlay(trackInfo.Track.Uri, spotifyClient))">
                                <i class="bi bi-play-fill"></i>
                            </div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="Track.Artists.Count" HeaderText="Artists" AutoFit="true">
                    <Template>
                        @{
                            var trackInfo = (context as PlaylistTrack<FullTrack>);

                            @for (int i = 0; i < @trackInfo.Track.Artists.Count; i++)
                            {
                                SimpleArtist artist = @trackInfo.Track.Artists.ElementAt(i);
                                <span class="artist-name-link" @onclick="@(() => NavUtils.ClickedOnArtist(artist.Id))">@artist.Name</span>
                                if (i + 1 < @trackInfo.Track.Artists.Count)
                                {
                                    <span class="comma">, </span>
                                }
                            }
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field="Track.DurationMs" HeaderText="Length">
                    <Template>
                        @{
                            var trackInfo = (context as PlaylistTrack<FullTrack>);
                            long secondsDur = trackInfo.Track.DurationMs / 1000;
                            long minutesDur = secondsDur / 60;
                            <span>@($"{minutesDur}:{(secondsDur % 60):D2}")</span>
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field="Track.Name" HeaderText="Title" AutoFit="true" />
                <GridColumn Field="Track.Popularity" HeaderText="Popularity" />
                <GridColumn Field="Track.Explicit" HeaderText="Explicit">
                    <Template>
                        @{
                            var trackInfo = (context as PlaylistTrack<FullTrack>);

                            if (trackInfo.Track.Explicit)
                            {
                                <i class="bi bi-explicit-fill"></i>
                            }
                        }

                    </Template>
                </GridColumn>
                <GridColumn Field="Track.Album.Name" HeaderText="Album" AutoFit="true" />
                <GridColumn Field="AddedAt" HeaderText="Added" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" />
            </GridColumns>
        </SfGrid>
    </div>
    }
</div>


<div class="refresh-button">
    <button type="button" class="btn btn-primary btn-sm" disabled="@loadingData" @onclick="SpotifyPlaylistLoad">
        <span>Refresh the playlist</span>
        @if (loadingData)
        {
            <span class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </span>
        }
    </button>
</div>


@code {
    SpotifyClient spotifyClient = null;

    FullPlaylistWrapper fullPlaylist = null;
    bool onPlay = false;
    bool loadedFromCache = true;
    List<PlaylistTrack<FullTrack>> tracks = new List<PlaylistTrack<FullTrack>>();

    float loadingPercentage = 0;

    string searchPhrase = "";
    bool loadingData = true;
    int offset = 0;
    public IEnumerable<PlaylistTrack<FullTrack>> GridData { get; set; }

    private async void UpdateQuery(object sender, LocationChangedEventArgs e)
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("playlistId", out var _searchPhrase))
        {
            loadingData = true;
            StateHasChanged();
            searchPhrase = _searchPhrase;
            await spotifyDb.Open();

            if ((fullPlaylist = await spotifyDb.SavedFullPlaylist.Get<string, FullPlaylistWrapper>(searchPhrase)) == null)
            {
                SpotifyPlaylistLoad();
            }
            else
            {
                loadedFromCache = true;
                GridData = fullPlaylist.Tracks.Items.ToList();
                loadingData = false;
                StateHasChanged();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await spotify.Init();

        if (!result.Success)
        {
            NavManager.NavigateTo(result.RedirectURL);
        }

        spotifyClient = result.SpotifyObject;

        UpdateQuery(null, null);

        NavManager.LocationChanged += UpdateQuery;
    }

    private T ConvertObject<T>(object M) where T : class
    {
        var obj = JsonConvert.DeserializeObject<T>(JsonConvert.SerializeObject(M));
        return obj;
    }

    private async void SpotifyPlaylistLoad()
    {
        await spotifyDb.SavedFullPlaylist.Delete(searchPhrase);
        loadingData = true;
        StateHasChanged();

        fullPlaylist = ConvertObject<FullPlaylistWrapper>((await spotifyClient.Playlists.Get(searchPhrase)));

        await spotifyDb.SavedFullPlaylist.Add(fullPlaylist);

        tracks = fullPlaylist.Tracks.Items;

        GridData = tracks;

        loadingData = false;
        loadingPercentage = 0;
        loadedFromCache = false;

        StateHasChanged();
    }

    void IDisposable.Dispose() => NavManager.LocationChanged -= UpdateQuery;
}